@page "{id?}"
@model WebApp.Pages.SamplePages.BasicsModel //fully qualified namespace
@{
    //the cshtml page contains both csharp and html code
    //teh @ takes processing from the html environment 
    //and moves it to the c# environment
    //processing any html moves processing into html environment from c#

    //set teh text for the browser tab

    ViewData["Title"] = "Review Page Basics";
}
<h1>Basic Razor Page Review</h1>

<h3>Demonstration of OnGet() Request processing </h3>

@*This sample is to demonstrate display control using C# logic*@

@if (string.IsNullOrWhiteSpace(Model.MyName)) //access object with .
{
    <p>The random number is odd.</p>
}
else
{
    <p>@Model.MyName</p>
}<!--eof-->

<h3>Demonstration of OnPost() request demonstration</h3>

<form method="post">

    <label>
        Enter a number
     </label>

    <input type="number" asp-for="id" /><br/>
    <button type="submit" value="A" id="theButton" name="theButton">A Button</button>
    &nbsp;&nbsp; <!--non breaking space-->
     <button type="submit" value="B" id="theButton" name="theButton">B Button</button>
</form>  
<br/>
<p style="color:forestgreen; font-weight:bold;">@Model.Feedback</p>